
<div class="container">
  <div class="row justify-content-center" >
      <div class="col-md-6 text-left rounded shadow py-5 ">

<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="prod">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="seller">Seller</a>
          </li>
        
      </ul>
    
      
        <input class="form-control"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" style="margin-left: 5px;"   type="submit">Search</button>
      
    </div>
  </nav>

  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  </div>
  </div>
  
  